header {
    background-color: #79A7D3;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold; 
    margin-right: auto;
    margin-left: auto;
}
p {
    background-color: #79A7D3;
}