<main>
    <section>
    <h2>To Do Tasks List</h2>

    <form id="taskForm" #taskForm>
        <div>
            <label for="taskName" class="formLabel">Task Name: </label>
            <input [(ngModel)]="newTask.taskName" type="text" class="'formField" name="taskName" id="taskName" placeholder="Enter task name" #taskName="ngModel">

            <label for="creationDate" class="formLabel">Created Date: </label>
            <input [(ngModel)]="newTask.creationDate" type="date" class="'formField" name="creationDate" id="creationDate" placeholder="Enter date of creation" #creationDate="ngModel">

            <label for="dueDate" class="formLabel">Due Date: </label>
            <input [(ngModel)]="newTask.dueDate" type="date" class="'formField" name="dueDate" id="dueDate" placeholder="Enter due date" #dueDate="ngModel">

            <button (click)="addTaskToDo(); taskForm.reset()"><i class="fa fa-plus" style="color: darkcyan; padding-top: 3px;"></i></button>
        </div>

    </form>


   <table>
        <thead>
            <tr>
                <th></th>
                <th>Task Name</th>
                <th>Creation Date</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <ng-container *ngFor="let task of tasks, let i = index">

                <tr id="taskCard">
                    <td><button id="completeButton" (click)="changeList(i, 'finishedList')"><i class="fa fa-check" style="color: darkcyan; padding-top: 3px;"></i></button></td>
                    <td>
                        <div *ngIf="!task.isEdit">
                            {{ task.taskName }}
                        </div>
                        <div *ngIf="task.isEdit">
                            <input placeholder="{{ task.taskName }}" type="text" [(ngModel)]="task.taskName" class="form-control"/>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!task.isEdit">
                            {{ task.creationDate }}
                        </div>
                        <div *ngIf="task.isEdit">
                            <input placeholder="{{ task.creationDate }}" type="date" [(ngModel)]="task.creationDate" class="form-control"/>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!task.isEdit">
                            {{ task.dueDate }}
                        </div>
                        <div *ngIf="task.isEdit">
                            <input placeholder="{{ task.dueDate }}" type="date" [(ngModel)]="task.dueDate" class="form-control"/>
                        </div> 
                    </td>
                    <td>
                        <div *ngIf="task.isEdit">
                            <button (click)="updateTask(task)"><i class="fa fa-check" style="color: darkcyan; padding-top: 3px;"></i></button>
                            <button (click)="task.isEdit = false"><i class="fa fa-close" style="color: darkcyan; padding-top: 3px;"></i></button>
                        </div>
                        <div *ngIf="!task.isEdit">
                            <button (click)="onEdit(task)"><i class="fa fa-edit" style="color: darkcyan; padding-top: 3px;"></i></button>
                            <button (click)="deleteTaskToDo(i)"><i class="fa fa-trash" style="color: darkcyan; padding-top: 3px;"></i></button>
                        </div>  
                    </td>
                </tr>
    
            </ng-container>

        </tbody>

    </table>

    </section>

    <section>

    <h2>Finished Tasks List</h2>

    <form id="finishedTaskForm" #finishedTaskForm>
        <div>
            <label for="taskName" class="formLabel">Task Name: </label>
            <input [(ngModel)]="newFinishedTask.taskName" type="text" class="'formField" name="taskName" id="taskName" placeholder="Enter task name" #finishedTaskName="ngModel">

            <label for="creationDate" class="formLabel">Created Date: </label>
            <input [(ngModel)]="newFinishedTask.creationDate" type="date" class="'formField" name="creationDate" id="creationDate" placeholder="Enter date of creation" #finishedCreationDate="ngModel">

            <label for="dueDate" class="formLabel">Due Date: </label>
            <input [(ngModel)]="newFinishedTask.dueDate" type="date" class="'formField" name="dueDate" id="dueDate" placeholder="Enter due date" #finishedDueDate="ngModel">

            <button (click)="addTaskToFinished(); finishedTaskForm.reset()"><i class="fa fa-plus" style="color: darkcyan; padding-top: 3px;"></i></button>
        </div>

    </form>


   <table>
        <thead>
            <tr>
                <th></th>
                <th>Task Name</th>
                <th>Creation Date</th>
                <th>Completed Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let task of finishedTasks, let i = index">

                <tr id="taskCard">
                    <td><button placeholder="Complete Task" id="completeButton" (click)="changeList(i, 'toDoList')"><i class="fa fa-check" style="color: darkcyan; padding-top: 3px;"></i></button></td>
                    <td>
                        <div *ngIf="!task.isEdit">
                            {{ task.taskName }}
                        </div>
                        <div *ngIf="task.isEdit">
                            <input placeholder="{{ task.taskName }}" type="text" [(ngModel)]="task.taskName" class="form-control"/>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!task.isEdit">
                            {{ task.creationDate }}
                        </div>
                        <div *ngIf="task.isEdit">
                            <input placeholder="{{ task.creationDate }}" type="date" [(ngModel)]="task.creationDate" class="form-control"/>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!task.isEdit">
                            {{ task.dueDate }}
                        </div>
                        <div *ngIf="task.isEdit">
                            <input placeholder="{{ task.dueDate }}" type="date" [(ngModel)]="task.dueDate" class="form-control"/>
                        </div> 
                    </td>
                    <td>
                        <div *ngIf="task.isEdit">
                            <button (click)="updateTask(task)"><i class="fa fa-check" style="color: darkcyan; padding-top: 3px;"></i></button>
                            <button (click)="task.isEdit = false"><i class="fa fa-close" style="color: darkcyan; padding-top: 3px;"></i></button>
                        </div>
                        <div *ngIf="!task.isEdit">
                            <button (click)="onEdit(task)"><i class="fa fa-edit" style="color: darkcyan; padding-top: 3px;"></i></button>
                            <button (click)="deleteTaskFinished(i)"><i class="fa fa-trash" style="color: darkcyan; padding-top: 3px;"></i></button>
                        </div>  
                    </td>
                </tr>
    
            </ng-container>
 

        </tbody>

    </table>
    
    </section>

</main>

