main {
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    background-color:  #6883BC;
}

h2 {
    margin-bottom: 24px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    display: inline-flex;
    flex-direction: column;
    padding-right: 100px;
}
table div {
    overflow-wrap: break-word;
    inline-size: 200px;
}

section, div {
    text-align: center;
    justify-content: center;
}

label {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}    

input {
    padding-right: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 3px rgb(75, 75, 75);
}

#completeButton {
    justify-content: center;
}


button {
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    border: solid 3px #8A307F;
    padding: 5px;
    margin-right: 10px;
    justify-content: center;
}

button:hover {
    color: #8A307F;
    background-color: #c454b7c2;
}

table {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
    background-color: #79A7D3;
    border-radius: 10px;
    border: solid 5px #8A307F;
    border-spacing: 0;
    padding: 7px;
    color: #8A307F;
    font-weight: bold;  
}

th, td {
    justify-content: center;
    padding: 10px;
    border-bottom: solid 5px #8A307F; 
}

tr {
    border: solid 3px #8A307F;
    background-color: #79A7D3;
    border-radius: 5px;
}

td {
    overflow-wrap: break-word;
    inline-size: 150px;
    margin-right: 10px;
    width: fit-content;
    
}

tr#taskCard:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 5px 5px 5px 10px #6883BC; 
    box-shadow: 5px 5px 5px 10px #6883BC;
    transition-delay: 400ms;
    transition-duration: 1s;
}
.submitButton {
    margin-left: 10px;
}



