main {
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    background-color:  #6883BC;
}

h2 {
    margin-bottom: 24px;
    text-align: center;
}

h3 {
    display: inline-flex;
    flex-direction: column;
    padding-right: 100px;
}

section, div {
    text-align: center;
    justify-content: center;
}

label {
    padding-left: 10px;
}    

input {
    padding-right: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px darkgray;
}

#completeButton {
    justify-content: center;
}


button {
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    border: solid 3px #8A307F;
    padding: 5px;
    margin-right: 10px;
    justify-content: center;
}

button:hover {
    color: #8A307F;
    background-color: #c454b7c2;
}

table {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
    background-color: #79A7D3;
    border-radius: 10px;
    border: solid 5px #8A307F;
    border-spacing: 0;
    padding: 7px;
}

th, td {
    justify-content: center;
    padding: 10px;
    border-bottom: solid 5px #8A307F;
}

tr {
    border: solid 3px #8A307F;
    background-color: #79A7D3;
    border-radius: 5px;
}

.submitButton {
    margin-left: 10px;
}



