nav {
    font-size: 18px;
    background-color: rgb(237, 237, 237);
    margin-top: 10px;
    background-color: #79A7D3;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 12px;
    color: #8A307F;
    background-color: white;
    border-radius: 10px;
    border: solid 3px #8A307F;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;

}

nav a:hover {    
    background-color: #c454b7c2;
}