<p>to-do-list works!</p>


<form #taskCreationForm>
    <h3>CREATE A TASK</h3>

    <div>
        <label for="">Task Name: </label>
        <input [(ngModel)]="" id="" name="" type="" placeholder="Enter task name...">
    </div>

    <div>
        <label for="">Date Created: </label>
        <input [(ngModel)]="" id="" name="" type="text" placeholder="Enter today's date...">
    </div>

    <div>
        <label for="">Due Date: </label>
        <input [(ngModel)]="" id ="" name="" type="" placeholder="Enter due date...">
    </div> 

    <p>Task Name: </p>
    <p>Date Created: </p>
    <p>Due Date: </p>


    <button >Add My Task</button>

</form>