main {

    padding: 24px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    margin-bottom: 24px;
    text-align: center;
}

h3 {
    display: inline-flex;
    flex-direction: column;
    padding-right: 100px;
}

section {
    text-align: center;
    justify-content: center;
}
