main {

    padding: 24px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    margin-bottom: 24px;
    text-align: center;
}

h3 {
    display: inline-flex;
    flex-direction: column;
    padding-right: 100px;
}

section, div {
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

label {
    padding-left: 10px;
    
}    

input {
    padding-right: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px darkgray;
}


button {
    background-color: lightcoral;
    border-radius: 10px;
    border: solid 3px darkcyan;
    padding: 5px;
    margin-left: 20px;
}