<main>
    <h2>Finished Tasks List</h2>

    <div>
        <label for="taskName" class="formLabel"> </label>
        <input type="text" class="'formField" name="taskName" id="taskName" placeholder="Enter task name">

        <label for="creationDate" class="formLabel">Created Date: </label>
        <input type="date" class="'formField" name="creationDate" id="creationDate" placeholder="Enter date of creation">

        <label for="completedDate" class="formLabel">Completed Date: </label>
        <input type="date" class="'formField" name="completedDate" id="completedDate" placeholder="Enter due date">

        <button type="submit" class="submitButton"><i class="fa fa-plus" style="font-size: 20px; background-color: lightcoral; color: darkcyan; padding-top: 3px;"></i></button>
    </div>

    <section>
        <h3>Task Name: </h3>
        <h3>Creation Date: </h3>
        <h3>Completed Date: </h3>
    </section>


</main>

