main {
    margin-right: auto;
    margin-left: auto;
}

section {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

p {
    padding: 30px;
}

button {
    padding: 10px;
    
}

.leftSide {
    border-radius: 20px;
    border: solid 1px black;
}

.rightSide {
    align-items: right;
}